.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
    z-index: 9998; /* Below the modal */
    display: none; /* Hidden by default */
}

.modal-overlay.show {
    display: block; /* Show the overlay when modal is open */
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    width: 80%;
    max-width: 600px;
}

.modal.hide {
    display: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #666;
}

.workform-title {
    font-size: 24px;
    color: black;
    text-align: left;
    font-weight: normal;
    margin-bottom: 0;
}

.form-subtitle {
    color: grey;
    font-size: 14px;
    margin: 0px;
}

.form-input.error {
    border: 1px solid red;
}

.form-group {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-group label {
    flex: 0 0 150px;
    font-size: 12px;
    text-align: right;
}

.form-group input,
.form-group select,
.form-group textarea {
    flex: 1;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    width: 100%;
}

.work-form {
    width: 100%;
}

.workform-textarea {
    min-height: 50px;
    resize: vertical;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.form-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    align-self: center; 
}

.form-button:hover {
    background-color: #0056b3;
}


.form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

hr {
    border: none;
    border-top: 0.5px solid #aaaaaa;
    width: 100%;
    margin: 20px 0;
}

.required {
    color: red;
}

.info-icon {
    margin-left: 5px;
    cursor: pointer;
    font-size: 14px;
    color: #b1b1b1;
}

.info-icon:hover {
    color: #0056b3;
}

.error-text {
    color: red;
    display: block;
    margin-top: 0.25rem;
}

.location-manager-label {
    display: block;
    margin-top: 5px;
    margin-right: 5px;
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.form-group-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.form-checkbox-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
    margin-right: 10px;
    color: #333;
}

.form-checkbox-label input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.form-checkbox-label input[type="checkbox"]:focus {
    outline: none;
}
