.container {
    padding: 20px;
    /* max-width: 1200px; */
    /* margin: auto; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 22px;
    font-weight: bold;
}

.editButton, .saveButton {
    padding: 8px 16px;
    cursor: pointer;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.mainGrid {
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

.ticketGrid70 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.ticketGridFull {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
}

.fullWidthSection {
    grid-column: span 2;
    display: grid;
    gap: 20px;
}

.teamSection, .detailsSection {
    /* background-color: #f9f9f9; */
    /* padding: 20px; */
    /* border-radius: 8px;
    border: 1px solid #ddd; */
}

.ticketField {
    margin-bottom: 10px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputField, .textareaField, .selectField {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.textareaField {
    min-height: 80px;
}
