.progress-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Reduced margin bottom */
  position: relative;
  width: 100%;
}

.progress-step {
  border: 1px;
  border-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px; /* Reduced padding */
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  background-color: #d0d0d0; /* Default background color for pending steps */
  flex: 1;
  z-index: 1; /* Ensure steps are above the pseudo-elements */
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%);
}

.progress-step:not(:last-child) {
  margin-right: -10px; /* Adjusted space between steps */
}

.progress-step.active {
  background-color: rgba(144, 21, 21, 1); /* Active step background color */
}

.progress-step.completed {
  background-color: rgba(144, 21, 21, 1); /* Completed step background color */
}

.step-name {
  margin-right: 10px; /* Adjust spacing between step name and arrow */
  font-size: 10px; /* Reduced font size */
  text-align: center;
}
